{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block sections_nav %}
{% endblock %}

{% block detail_content %}
    {% if filter_url %}
      <div class="actions btn-group pull-right" role="group">
        <a href="{% url 'sapl.norma:norma_pesquisa' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
      </div>
    {% endif %}

  {% if not filter_url %}
    {% crispy filter.form %}
  {% endif %}

  <p></p>
  {% if filter_url %}
  <table class="table table-striped table-bordered">
        <thead class="thead-default">
            <tr><td><h3>{% trans "Resultados" %}</h3></td></tr>
        </thead>
        {% if paginator.count %}
          {% if paginator.count > 1 %}
              <h3>{% blocktrans with paginator.count as total_materias %}Pesquisa concluída com sucesso! Foram encontradas {{total_materias}} normas.{% endblocktrans %}</h3>
            {% elif paginator.count == 1 %}
              <h3>{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 norma.'%}</h3>
            {% endif %}

          {% for n in page_obj %}
            <tr>
              <td><a href="{% url 'sapl.norma:normajuridica_detail' n.id %}">{{n.tipo}}</a></td>
              <td>{{n.numero}}</td>
              <td>{{n.ano}}</td>
              <td>{{n.data}}</td>
              <td>{{n.ementa|safe}}</td>
            </tr>
          {% endfor %}
        {% else  %}
            <tr>
                <td>
                    <h3>Nenhuma norma encontrada com essas especificações</h3>
                 </tr>
        {% endif %}

    </table>


{% include "paginacao.html" %}
{% endif %}

{% endblock detail_content %}
