<p>Você está recebendo este e-mail pois solicitou recuperação de senha de sua conta no site <b>SAPL</b></p></br></p>

<p>Por favor clique no link a seguir e redefina sua senha:</p></br>

<p><a href="{{ protocol }}://{{ domain }}{% url 'sapl.base:recuperar_senha_confirma' uidb64=uid token=token %}"> 

Clique aqui</a></p></br>.

<p>Seu nome de usuario, caso voce tenha esquecido é: <b>{{ user.get_username }}</b></p></br>

<p>Obrigado por utilizar os nossos recursos!</p></br>

<p>Atenciosamente,</p>

<p>A equipe <b>SAPL</b></p>